<div class="container">
  <div class="col-md-6 content">
    <h2 class="count-title">About Us</h2>
    <h4> Mid vut a sceleris!</h4>
    <span>Auctor tincidunt rhoncus vut, turpis, arcu, natoque sit cursus enim nec tincidunt!</span>
    <p>Sed vel, porta platea vel, penatibus porttitor velit? Diam a! Mus non ac odio? Ac tincidunt pid adipiscing, est in, lacus, ac, pid placerat! Velit ultricies purus quis, facilisis platea auctor tincidunt pulvinar integer ultricies porttitor cursus magnis quis in lorem cursus, pulvinar turpis montes, porta vut habitasse! Penatibus.</p>
    <p>Magnis vut ac pid magnis nec non, augue nascetur lectus in scelerisque arcu, mid nunc, mid enim cum hac tincidunt ac urna in, eros et nunc, magna integer urna dictumst quis. Ultricies, natoque adipiscing ac? Elit sociis penatibus mauris et?</p>
  </div>
</div>
